html, body, viewport {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.options {
    display: flex;
    flex-direction: column;
}

.card {
    height: 88mm;
    width: 57mm;
    border: 0.5px solid gray;
    border-radius: 3mm;
    display: flex;
    flex-direction: column
}

.page {
    width: 210mm;
    height: 297mm;
    border: 0.5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.delete {
    position: relative;
    top: -25px;
    cursor: pointer;
}

.header {
    margin: 2rem 1rem;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 700;
}

.cost {
    position: relative;
    font-size: 2rem;
    top: -10px;
    left: 10px;
}

.body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-top: 1px solid gray;
    padding: 0.5rem
}

@media print {
    .options, .delete {
        display: none;
    }

} 